<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
@keyframes bgcolor {
    0% {
        background-color: #ff0012
    }

    33% {
        background-color: #00b32c
    }

    66% {
        background-color: #ff0012
    }

    100% {
        background-color: #00b32c
    }

}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
</style>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#00FF00">
	<h1>Byte Me Index </h1>
   
	 <a href="/kyselyt"> /kyselyt </a> <br/>
	 <a href="/kysymykset"> /kysymykset </a> <br/>
	 <a href="/uusiKysymys">/uusiKysymys</a> <br/>
	 <a href="/kysely/1/kysymykset"> /kysely/1/kysymykset </a>  <br/>
	 <a href="/kysely/2/kysymykset"> /kysely/2/kysymykset </a> <br/>
	 <a href="/vastaukset">/vastaukset</a> <br/>
	 <a href="/uusiVastaus">/uusiVastaus</a> <br/>
</body>
</html>